<h1>Contact Me</h1>
<%= form_for @comment, html: { role: "form", onsubmit: "return validate_comment();" } do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name*", class: "control-label" %>
    <%= f.text_field :name, class: "input-medium form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email*", class: "control-label" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :message, class: "control-label" %>
    <%= f.text_area :message, rows: 7, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-default" %>

<% end %>
