= f.hidden_field :sender_id, value: current_user.id

= f.input :recipient_identifier, label: "Recipient", input_html: { autofocus: true}

= f.input :subject

= f.input :message, as: :text

= f.submit "Send Message", class: "btn btn-primary btn-block"
