= f.hidden_field :sender_id, value: current_user.id

.form-group
  = f.label :recipient_identifier, "Recipient", class: "control-label"
  = f.text_field :recipient_identifier, class: "form-control", autofocus: (@recipient ? false : true)

.form-group
  = f.label :subject, "Subject", class: "control-label"
  = f.text_field :subject, class: "form-control", autofocus: (@recipient ? true : false)

.form-group
  = f.label :message, "Message", class: "control-label"
  = f.text_area :message, class: "form-control"

= f.submit "Send Message", class: "btn btn-primary btn-block"
