%tr
  %td{width: '25%'}
    = message.created_at.strftime("%Y-%m-%d %H:%M:%S %Z")
  %td{width: '20%'}
    - if message.sender == current_user
      = message.recipient.nil? ? "Deleted" : (link_to message.recipient.username, message.recipient)
    - else
      = message.sender.nil? ? "Deleted" : (link_to message.sender.username, message.sender)
  %td{width: '55%'}
    = link_to message.subject, message
    = link_to '&times;'.html_safe, message_path(message.id), method: :delete, type: 'button', class: 'close'
