- provide :title, "Messages"

%ul#message_tabs.nav.nav-tabs
  = content_tag :li, class: (@active_tab == "received" ? "active" : "") do
    %a{href: "#received_messages", data: {toggle: "tab"}} Received
  = content_tag :li, class: (@active_tab == "sent" ? "active" : "") do
    %a{href: "#sent_messages", data: {toggle: "tab"}} Sent
  = content_tag :li, class: (@active_tab == "new" ? "active" : "") do
    %a{href: "#new_message", data: {toggle: "tab"}} New

.tab-content
  = content_tag :div, id: "received_messages", class: "tab-pane#{' active' if @active_tab == 'received'}" do
    %br
    %table.table.table-hover
      %thead
        %tr
          %th{width: '25%'} Date
          %th{width: '20%'} Sender
          %th{width: '55%'} Subject
      %tbody
        - if @received_messages.blank?
          %tr
            %td{colspan: 3} No messages found.
        - else
          = render @received_messages
    .pull-right
      = will_paginate @received_messages, param_name: :received_messages_page, params: {active_tab: "received"}

  = content_tag :div, id: "sent_messages", class: "tab-pane#{' active' if @active_tab == 'sent'}" do
    %br
    %table.table.table-hover
      %thead
        %tr
          %th{width: '25%'} Date
          %th{width: '20%'} Recipient
          %th{width: '55%'} Subject
      %tbody
        - if @sent_messages.blank?
          %tr
            %td{colspan: 3} No messages found.
        - else
          = render @sent_messages
    .pull-right
      = will_paginate @sent_messages, param_name: :sent_messages_page, params: {active_tab: "sent"}

  = content_tag :div, id: "new_message", class: "tab-pane#{' active' if @active_tab == 'new'}" do
    %br
    .col-sm-8.col-sm-offset-2
      = simple_form_for @message, html: { role: "form" } do |f|
        %input{name: "page", type: "hidden", value: "index"}
        = render 'fields', f: f

