- commentable_user ||= comment.commentable.user

= content_tag :li, class: "list-group-item", id: "comment_#{comment.id}" do
  .container
    .row
      = link_to comment.user.username, comment.user
      .pull-right
        = format_time comment.created_at
    .row
      = simple_format(comment.content, sanitize: true)
    - if current_user?(comment.user) || current_user?(commentable_user)
      .row
        .pull-right
          = link_to "Delete", comment, method: :delete, data: { confirm: "Are you sure?" }, remote: true
