- email = params[:action] == 'edit' ? :new_email : :email

.row
  .col-sm-4
    %div{data: {toggle: "tooltip"}, title: "Email addresses must be confirmed via an email to the account."}
      = f.input email, input_html: { value: @user.email, autofocus: true }, label: "Email"

    = f.input :username

    = f.input :new_password, as: :password, label: "Password"


    = f.input :new_password_confirmation, as: :password, label: "Confirm Password"

  .col-sm-8
    = f.input :headline

    = f.input :about, as: :text

