.panel.panel-default
  .panel-heading
    - if current_user.admin
      %a{href: "#delete_modal_#{user.id}", type: 'button', class: 'close', data: {toggle: 'modal'}} &times;
    = link_to user do
      = content_tag :h3, user.username, class: "panel-title"
  .panel-body
    = render 'layouts/user_sm', user: user
= render 'delete_confirm', user: user

