- provide :title, "The Network"

#home_wrap.container-fluid
  .row
    .col-md-8
      %h2 Latest Posts
      = render 'microposts/new'
      - if @microposts.empty?
        %p Apparently you either have no friends or they are too lazy to post anything.
      - else
        = render @microposts
        .pull-right
          = will_paginate @microposts

    .col-md-4
      .row
        %h2 Recent Activity
        #activities
          = render 'activities/list', activities: @activities
      .row
        %h2 Friends
        #friends
          = render 'friendships/list'

