- provide :title, @user.username
- content_for :header do
  .row
    %h1.col-sm-10
      = @user.username
      = content_tag :small, (h @user.headline)
    .btn-group.col-sm-2
      %button{type: 'button', class: 'btn btn-primary dropdown-toggle pull-right', data: {toggle: 'dropdown'}}
        Options
        %span.caret
      %ul{class: 'dropdown-menu', role: 'menu'}
        - if current_user != @user
          %li
            = link_to "Send Message", messages_path(recipient: @user.username, active_tab: :new)
        - if current_user == @user
          %li
            = link_to "Edit", edit_user_path(@user)
        - elsif @friendship
          %li
            = link_to "Remove Friend", friendship_path(@user), method: :delete
        - else
          %li
            = link_to "Add Friend", friendships_path(friend_id: @user), method: :post
        - if current_user.admin
          %li
            %a{href: "#delete_modal_#{@user.id}", data: {toggle: "modal"}} Delete
.row
  .col-md-4
    = gravatar_for @user, size: 250, class: "img-responsive"
  .col-md-8
    %h2 About
    = h @user.about
.row
  %h2 Posts
  - if current_user? @user
    = render 'microposts/new'
  = render @microposts
  .pull.right
    = will_paginate @microposts

= render 'delete_confirm', user: @user
