.modal.fade{id: "delete_modal_#{friendship.friend_id}", role: 'dialog', aria: {hidden: true}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: "modal"}, aria: {hidden: true}} &times;
        = content_tag :h4, "Unfriend #{friendship.friend.username}", class: 'modal-title'
      .modal-body
        = content_tag :p, "Are you sure you would like to unfriend #{friendship.friend.username}?"
      .modal-footer
        = link_to "Unfriend", friendship_path(friendship), method: :delete, class: "btn btn-primary"
        %button.btn.btn-default{data: {dismiss: "modal"}} Cancel
