- if activity.trackable.nil?
  A friendship was squashed.
- elsif friend_request? activity.trackable
  = raw "#{capital_username activity.trackable.user} requested friendship with #{username activity.trackable.friend}"
- else
  = raw "#{capital_username activity.trackable.user} accepted #{possessive_username activity.trackable.friend} friend request."

