- provide :title, "Posts"

= render 'new'

.tab-content
  %p
  %table.table.table-hover
    - @microposts.each do |micropost| 
      %tr
        %td
          %strong= micropost.user_id
        %td= micropost.content
        %td= link_to 'Edit', edit_micropost_path(micropost)
        %td= link_to 'Destroy', micropost, :method => :delete, :data => { :confirm => 'Are you sure?' }
