<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
		<div id="notFooter">

			<!-- header -->
			<div id="headerOuter">
				<header class="elevated">
					<%= render 'layouts/header' %>
				</header>
			</div>

			<!-- content -->
			<div id="contentOuter">
				<div id="contentInner" class="elevated">
					<%= yield %>
					<%= debug(params) if Rails.env.development? %>
				</div>
			</div>

			<!-- sidebar -->
			<div id="sidebarOuter">
				<div id="sidebarInner" class="elevated">
					<%= render 'layouts/nav' %>
				</div>
			</div>

		</div><!-- end #notFooter-->

		<!-- footer -->
		<div id="footerOuter">
			<footer class="elevated">
				<%= render 'layouts/footer' %>
			</footer>
		</div>

	</div> <!-- end #wrap -->
</body>
</html>
